<p id="notice"><%= notice %></p>

<p>
  <strong>Dba:</strong>
  <%= @grade.dba %>
</p>

<p>
  <strong>Boro:</strong>
  <%= @grade.boro %>
</p>

<p>
  <strong>Building:</strong>
  <%= @grade.building %>
</p>

<p>
  <strong>Street:</strong>
  <%= @grade.street %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @grade.zipcode %>
</p>

<p>
  <strong>Cuisine description:</strong>
  <%= @grade.cuisine_description %>
</p>

<p>
  <strong>Violation description:</strong>
  <%= @grade.violation_description %>
</p>

<p>
  <strong>Critical flag:</strong>
  <%= @grade.critical_flag %>
</p>

<p>
  <strong>Score:</strong>
  <%= @grade.score %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @grade.grade %>
</p>

<p>
  <strong>Grade date:</strong>
  <%= @grade.grade_date %>
</p>

<p>
  <strong>Record date:</strong>
  <%= @grade.record_date %>
</p>

<%= link_to 'Edit', edit_grade_path(@grade) %> |
<%= link_to 'Back', grades_path %>
