<%= form_with(model: email, local: true) do |form| %>
  <% if email.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(email.errors.count, "error") %> prohibited this email from being saved:</h2>

      <ul>
      <% email.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content, id: :email_content %>
  </div>

  <div class="field">
    <%= form.label : %>
    <%= form.text_field :, id: :email_ %>
  </div>

  <div class="field">
    <%= form.label :citizen_id %>
    <%= form.text_field :citizen_id, id: :email_citizen_id %>
  </div>

  <div class="field">
    <%= form.label :sender_id %>
    <%= form.text_field :sender_id, id: :email_sender_id %>
  </div>

  <div class="field">
    <%= form.label :citizen_active %>
    <%= form.check_box :citizen_active, id: :email_citizen_active %>
  </div>

  <div class="field">
    <%= form.label :receiver_active %>
    <%= form.check_box :receiver_active, id: :email_receiver_active %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
